.header-title {
  font-size: 1.5rem;
  font-family: 'Baloo Bhaina 2', cursive;
  margin: 0;
}

.header-container {
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  background-color: #679fdb;
  color: white;
  align-items: center;
  padding: 0.5rem;
}

