<div class="mat-card card-container">
  <div class="mat-card-title card-title">Wishlist</div>
  <div class="mat-card-content">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" class="card-icon" alt="WishlistIcon">
    <div class="card-description">
      Create or view a wishlist of DIY recipes or catalog items you need!
    </div>
    <button class="card-button">Go to Wishlist</button>
  </div>
</div>

<button class="fish-button" (click)="buttonClick()">Give me a random fish</button>
<div>{{randomFish}}</div>
<div></div>
