.fish-button {
  background-color: #679fdb;
  border: none;
  border-radius: .5rem;
  color: white;
  max-height: 3rem;
  max-width: 6rem;
  padding: .5rem;
}

.card-container {
  width: 40%;
  margin: 1rem;
  padding: 1rem;
}

.card-title {
  font-family: 'Baloo Bhaina 2', cursive;
  margin-bottom: 1rem;
}

.card-description {
  font-family: 'Muli', sans-serif;
}

.card-icon {
  width: 2rem;
}
