@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.menu-button {
  border: none;
  background: transparent;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #fcba03;
  color: white;
  align-items: center;
  padding: 0.5rem;
}
